.dms-font {
  font-family: "Roboto" !important;

  &-size {
    &-one {
      font-size: 14px;
      font-weight: 500 !important;
      line-height: 16.41px;
      font-style: normal;
    }
    &-two {
      @extend .dms-font-size-one;
      font-weight: 400 !important;
      line-height: 20px;
    }
    &-three {
      @extend .dms-font-size-one;
      font-size: 20px;
    }
    &-four {
      @extend .dms-font-size-two;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.25px;
    }
    &-five {
      @extend .dms-font-size-one;
      font-size: 13px;
      line-height: 15.23px;
    }
    &-six {
      @extend .dms-font-size-one;
      font-size: 16px;
      line-height: 18.75px;
    }
    &-seven {
      @extend .dms-font-size-four;
      font-size: 14px;
    }
    &-eight {
      @extend .dms-font-size-one;
      font-size: 11px !important;
      line-height: 12.89px;
    }
  }
}
body {
  //background-color: #213E9F;
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}

.bg-color {
  background-color: #213e9f;
}
.dms-login-container {
  background-color: #213e9f;
  height: 100%;
}
.global-drawer {
  .logo {
    display: block;
    background: white;
    height: 180px;
    .v-image__image {
      background-size: 70% !important;
    }
    .v-image {
      height: 180px;
    }
  }
  .logoM {
    display: none;
  }
  position: absolute !important;
  top: 70px !important;
  bottom: 3% !important;
  height: auto !important;
}

.text-color {
  color: black;
}
.m-w-80 {
  max-width: 80% !important;
}
.add-btn {
  &-user {
    margin-left: 64%;
  }
  &-server {
    margin-left: 80%;
  }
}
.add-btn-user .v-btn__content {
  color: white;
}
.add-btn-server .v-btn__content {
  color: white;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 33%;
}
.field-auth {
  color: white;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
}
.field-login{
color: white;
font-size: 20px;
font-family: Nunito;
font-weight: 400;
word-wrap: break-word
}
