@import url('https://fonts.googleapis.com/css?family=Nunito');
.title-card{

color: #042439;
font-size: 18px;
font-family:'Nunito';
font-weight: 800;
word-wrap: break-word
}

.subTitle{
color: #086EAE;
font-size: 14px;
font-family: 'Nunito';
margin-right: 10px;
font-weight: 400;
flex-wrap: nowrap;
}

.soutitle{
color: #020202;
font-size: 18px;
font-family: 'Nunito';
font-weight: 400;
word-wrap: break-word
}

.daysTitle{
color: #968E8E;
font-size: 17px;
font-family: 'Nunito';
font-weight: 400;
word-wrap: break-word
}
.numberTitle{
color: #968E8E;
font-size: 20px;
font-family: 'Nunito';
font-weight: 400;
word-wrap: break-word
}