

/node_modules/
/static/
npm-debug.log
yarn-error.log

/managementGroup/migrations/__pycache__/
/managementGroup/__pycache__/
/managementUsers/__pycache__/
/managementUsers/migrations/__pycache__/
/managementServers/__pycache__/
/managementServers/migrations/__pycache__/
/subscription/__pycache__/
/subscription/migrations/__pycache__/
/settings/__pycache__/
/settings/migrations/__pycache__/
/authentification/__pycache__/
/authentification/migrations/__pycache__/
/network/__pycache__/
/network/migrations/__pycache__/
/tasks/migrations/__pycache__/
/tasks/__pycache__/
/dms/__pycache__/
/views/__pycache__/

