/asguard/__pycache__/

/backend/authentification/__pycache__/
/backend/authentification/migrations/__pycache__/

/backend/clamav/migrations/__pycache__/
/backend/clamav/__pycache__/

/backend/dashboard/__pycache__/
/backend/dashboard/migrations/__pycache__/

/backend/gateway/__pycache__/
/backend/gateway/migrations/__pycache__/


/backend/ids_ips/migrations/__pycache__/
/backend/ids_ips/__pycache__/

/backend/ipsec/__pycache__/
/backend/ipsec/migrations/__pycache__/

/backend/LdapServer/__pycache__/
/backend/LdapServer/migrations/__pycache__/

/backend/managementCertificates/__pycache__/
/backend/managementCertificates/migrations/__pycache__/

/backend/managementGroup/migrations/__pycache__/
/backend/managementGroup/__pycache__/

/backend/managementKeypairs/migrations/__pycache__/
/backend/managementKeypairs/__pycache__/

/backend/managementServers/__pycache__/
/backend/managementServers/migrations/__pycache__/

/backend/managementUsers/__pycache__/
/backend/managementUsers/migrations/__pycache__/

/backend/nat/__pycache__/
/backend/nat/migrations/__pycache__/

/backend/network/__pycache__/
/backend/network/migrations/__pycache__/

/backend/openvpn/__pycache__/
/backend/openvpn/migrations/__pycache__/

/backend/proxy/migrations/__pycache__/
/backend/proxy/__pycache__/

/backend/routing/migrations/__pycache__/
/backend/routing/__pycache__/

/backend/rules/__pycache__/
/backend/rules/migrations/__pycache__/

/backend/sdwan/__pycache__/
/backend/sdwan/migrations/__pycache__/

/backend/settings/__pycache__/
/backend/settings/migrations/__pycache__/

/backend/subscription/__pycache__/
/backend/subscription/migrations/__pycache__/

/backend/tasks/migrations/__pycache__/
/backend/tasks/management/commands/__pycache__/
/backend/tasks/__pycache__/

/backend/openvpn_monitoring/migrations/__pycache__/
/backend/openvpn_monitoring/__pycache__/

/backend/vlan/migrations/__pycache__/
/backend/vlan/__pycache__/


/backend/server_dhcp4/migrations/__pycache__/
/backend/server_dhcp4/__pycache__/

/node_modules/

/static/

/utils/__pycache__/

/pki/

/views/__pycache__/

.env

npm-debug.log

yarn-error.log
