<!doctype html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="../../static/images/favAsguard.fa7139e8.svg" type="image/png">
    <link rel="manifest" href="../../static/manifest.json"/>
    <title>Welcome</title>

    {% load encore %}

    {% block stylesheets %}
    
        {% encore_entry_link_tags 'app' %}
    {% endblock %}

</head>
<body>

{% block body %}
    Body block.
{% endblock %}

{% block javascripts %}
    {% encore_entry_script_tags 'app' %}
{% endblock %}

</body>
</html>