
<script>
    const socket = new WebSocket('ws://'+window.location.host+'/ws/dashboard/');

    // Handle WebSocket events
    socket.onopen = (event) => {
        console.log('WebSocket connection opened:', event);
    };

    socket.onmessage = (event) => {
        const message = JSON.parse(event.data);
        // Handle incoming WebSocket data and update the dashboard
        console.log('WebSocket message received:', message);
    };

    socket.onclose = (event) => {
        console.log('WebSocket connection closed:', event);
    }; 

    // Send data through the WebSocket
    function sendMessage() {
        const message = { message: 'Hello, Server!' };
        socket.send(JSON.stringify(message));
    }
</script>
<!-- <script>
    const socket = new WebSocket('ws://127.0.0.1:8000/ws/data/');

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        // Here you can use the data to update your charts or other elements in real-time
        console.log(data);
    };

    socket.onclose = function(event) {
        console.error('Socket closed unexpectedly');
    };
</script> -->