{% extends 'base.html' %}

{% load static %}
{% load encore %}

{% block stylesheets %}
{{ block.super }}

{% encore_entry_link_tags 'ztna' %}
{% endblock %}

{% block javascripts %}
{% encore_entry_script_tags 'ztna' %}
{% endblock %}

{% block body %}
<!-- identities='{{identities}}' routers='{{routers}}' configs='{{configs}}' token='{{token}}' services='{{services}}' terminators='{{terminators}}'service_policies='{{service_policies}}'router_policies='{{router_policies}}'service_edge_router_policies='{{service_edge_router_policies}}' -->
<div id='app' >
</div>

{% endblock %}
